%p.grand-info
  People tweet, but where there are ?<br />
  Let's check out some near you!

%form.form-search
  %input#search.input-medium.search-query{:type => "text", :placeholder => 'Enter search text'}
  %button#searchBtn.btn{:type => "submit"} Search

%p.featured
  %small
    Try something like
    %a{:href => '#'} AngelHack
    ,
    %a{:href => '#'} "รถติด"
    (traffic) or even
    %a{:href => '#'} "ฝนตก"
    (raining)

.map
  .info
    %table.loader
      %tr
        %td
          %p Search someting!

    - 0.times do
      %a.box{:href => '#'}
        %table
          %tr
            %td
              %h4 Name
              %p
                Some status here
            %td.icon
              %i.icon-double-angle-right

  #map{style: "height:500px;"}
